@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.selector {
		height: 4rem;
		min-width: 15rem;
	}
	.container {
		display: grid;
		grid-template-areas: "header header header" "content content content"
			"footer footer footer";
		grid-template-columns: 20% 1fr 15%;
		grid-row-gap: 0px;
		grid-column-gap: 0px;
		margin: 0;
		overflow: hidden;
	}
	.main-content {
		display: grid;
		grid-template-areas: "main-middle";
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		grid-row-gap: 0px;
		grid-column-gap: 0px;
		margin: 0;
	}
	.header-content {
		display: grid;
		grid-template-areas: "left right";
		grid-template-rows: 1fr;
		grid-template-columns: 50% 50%;
		grid-row-gap: 0px;
		grid-column-gap: 0px;
		margin: 0;
	}
	.header-logo {
		margin-left: 0rem;
	}
	.header-user {
		margin-right: 12px;
	}
}
